
.sign-in-contianer {
  display: flex;
  flex-direction: column;
  width: 380px;
}
h2 {
  margin: 10px 0;
}

.buttons-container{
   display: flex;
  justify-content: space-between;
  
}

.gooleIcon{
  position: relative;
 height: 20px;
width: 20px;
  top:16px;
  left: 2px;
 
}